asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
decorator==5.1.1
Django==5.0.1
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.3
pillow==10.2.0
proglog==0.1.10
python-dotenv==1.0.0
python-magic==0.4.27
requests==2.31.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.9.0
urllib3==2.1.0
